# Gitignore modified from file by Isaac Mooney

# ignore lists for git
# that weird crap emacs generates
*~
*#*#*

# other version control
CVS
CVS/*

# object files
*.o
*.obj

# log information
*.err
*.log
*.out
log

# the apple DS_Store stuff
.DS_Store*
._*

# other possible output
*png
*pdf
*.package*
sched*
scheduler/*
*.session.xml
*.zip
*.dataset
.sl73_gcc485/*
AutoDict*
*.root

# the stuff that should be created
# after cloning
out
out/*
test
test/*
tmp
tmp/*
bin
bin/*
src/obj
src/obj/*

# dylibraries
*.so
*.dylib

# static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

all_lists
*.list

# condor file
CondorFile

#misc.
*test*
*_old*
old/*
*delete*
rootlogon.C
*.consign
*vscode*
